/*  your css code here. If applicable */
.main{
	background-color:lightgray;
	border:5px solid black;
	border-radius:50px;
	padding:120px;
	display:flex;
   
	align-items:center;
}
#x{
	background-color:green;
	width:150px;
	height:150px;
	border-radius:50%;
	margin:10px
	}
#y{
	background-color:red;
	width:150px;
	height:150px;
	border-radius:50%;
	margin:10px;
}
#z{
	background-color:yellow;
	width:150px;
	height:150px;
	border-radius:50%;
    	margin:10px;
}
